* {
  font-family: "Iosevka Nerd Font";
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 18px;
}

window#waybar {
  background: rgba(6, 3, 13, 0.85);
  border-radius: 16px;
  border: 0px solid rgba(108, 87, 255, 0.60);
}

#workspaces {
  padding: 8px 4px;
  background: transparent;
  transition: none;
}

#workspaces button {
  padding: 0 8px;
  background: rgba(127, 112, 255, 0.2);
  border-radius: 50%;
  margin: 2px 1px;
  min-height: 15px;
  min-width: 15px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

#workspaces button.active {
  background: #5A2EFF;
  min-width: 45px;
  min-height: 20px;
  border-radius: 60px;
}

#workspaces button:hover {
  background: #7F70FF;
}

#clock {
  color: #5A2EFF;
  font-size: 17px;
  border-radius: 12px;
  margin-top: 1px;
  transition: all 0.3s ease;
}

tooltip {
  background: rgba(16, 5, 18, 0.95);
  border: 1px solid rgba(127, 112, 255, 0.2);
  border-radius: 18px;
  padding: 12px;
}

tooltip calendar {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 12px;
}

#tray {
  background: rgba(127, 112, 255, 0.2);
  color: #5A2EFF;
  padding: 0 12px;
  margin: 4px 4px;
  border-radius: 22px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#custom-arch,
#custom-updates,
#custom-nightmode,
#network,
#custom-power,
#custom-keyboard,
#memory,
#cpu,
#custom-gpu,
#pulseaudio,
#pulseaudio.microphone,
#custom-notification {
  color: #5A2EFF;
}

#custom-arch {
  font-size: 28px;
}

#custom-notification,
#custom-power,
#custom-keyboard,
#pulseaudio.microphone {
  font-size: 20px;
}

#network {
  margin-top: 2px;
}

#memory,
#cpu,
#custom-updates {
  font-size: 18px;
}

#custom-gpu {
  font-size: 17px;
}

#pulseaudio {
  font-size: 18px;
  margin-top: 2px;
}

#pulseaudio.microphone {
  margin-right: 5px;
  margin-top: 2px;
}

#custom-nightmode {
  font-size: 19px;
  padding-bottom: 2px;
  margin-left: 4px;
}

#cava {
  color: #5A2EFF;
}
